<div class="footer">
  <div class="footer-logo">
    <img src="../../images/icons/chef-hat.png" alt="Website Logo" />
  </div>
  <p class="footer-title">COMMUNITY</p>
  <h2>Follow Us on Social Media</h2>
  <p class="footer-text">
    Join us on social media to share, learn, and grow together in our journey
    for eco-friendly and budget-friendly recipes. Your voice matters, and we’re
    excited to welcome you into our engaged community!
  </p>
  <div class="footer-socials">
    <a
      href="https://www.linkedin.com/in/christopher-edeson"
      class="social-link"
      title="LinkedIn"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
    <a
      href="https://github.com/chrisedeson"
      class="social-link"
      title="Github"
      target="_blank"
    >
      <i class="fa-brands fa-github"></i> Github
    </a>
  </div>
</div>
