<div>
  <a href="../../index.html">
    <h1 class="logo">
      SKI
      <img src="../../images/icons/chef-hat.png" alt="chef hat icon" />
      MER
    </h1>
  </a>
  <nav class="bottom-nav" id="bottomNav">
    <ul>
      <li>
        <a href="../../index.html">
          <i class="fa-solid fa-house"></i>
          <span class="nav-label">Home</span>
        </a>
      </li>
      <li>
        <a href="../../pages/search.html">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="nav-label">Explore</span>
        </a>
      </li>
      <li>
        <a href="../../pages/notification.html">
          <i class="fa-solid fa-bell"></i>
          <span class="nav-label">Notifications</span>
        </a>
      </li>
      <li>
        <a href="../../pages/profile.html">
          <i class="fa-solid fa-user"></i>
          <span class="nav-label">Profile</span>
        </a>
      </li>
    </ul>

    <div class="center-icon">
      <div class="icon-circle">
        <a class="ctn-btn"
          ><img src="../../images/icons/nav-logo.png" alt="Chef Icon"
        /></a>
      </div>
    </div>
  </nav>
  <div class="header__top">
    <p id="greeting"></p>
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
  <h2 id="user"></h2>
</div>
